---
layout: default
---
<div class="post">
  <div class="container mt-3">
      <div class="page-heading mb-4">Tag: {{ page.tag }}</div>
      {% for post in site.tags[page.tag] %}
        <div class="row mb-3">
          {% assign date_format = site.minima.date_format | default: "%Y.%m.%d" %}
          <div class="col-title-meta">
            <h5>
              <span class="post-meta">{{ post.date | date: date_format }}</span>
            </h5>
          </div>
          <div class="col">
            <h5>
              <a class="post-link post-title-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h5>
            <span class="gray-text mb-2 d-none d-sm-block">
                <i class="fa fa-tags mr-sm-1" aria-hidden="true"></i>
                {% for tag in post.tags %}
                  {% capture tag_name %}{{ tag }}{% endcapture %}
                  <a href="/tag/{{ tag_name }}">
                      <span class="badge badge-info">{{ tag_name }}</span>
                  </a>
                {% endfor %}
            </span>
          </div>
        </div>
      {% endfor %}
  </div>
</div>